@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap");

body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  font-size: 13px;
  background-color: #23283e;
  color: #eee;
}
a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
  text-align: center;
  padding-top: 10px;
}
header nav a {
  margin: 0 30px;
  color: #eee;
  font-size: small;
}

.tab {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url(/IMG/bg.png);
  background-size: 50%;
}
.tab .container {
  width: 1140px;
  max-width: 100%;
  height: 100%;
  padding-top: 50px;
  box-sizing: border-box;
  margin: auto;
  position: relative;
}
#intro {
  background-color: #16222d;
}
#intro .avatar {
  text-align: right;
  height: 100%;
}
#intro .avatar img {
  height: 100%;
  filter: saturate(0.8);
}
#intro .content {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  width: 500px;
  max-width: 80%;
}
#intro .content .name,
#intro .content .job {
  font-size: 6em;
  font-weight: bold;
  font-family: "Righteous", sans-serif;
  line-height: 1em;
}
.text-gradient {
  background-image: linear-gradient(to right, #e4454a, #ca3ea7);
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#intro .content .des {
  margin-top: 1.2em;
  width: 70%;
}
#intro .content .des span {
  cursor: pointer;
  font-size: large;
}
#intro .content .des a {
  margin-top: 1.2em;
}
#intro .content i {
  font-size: 10em;
  position: absolute;
  top: -50px;
  right: -50px;
  color: #293b4c;
}

#experience {
  background-image: linear-gradient(45deg, #212632, #242a34, #3c4c5a);
  background-size: cover;
}
#experience .list {
  height: 100%;
  width: max-content;
  display: flex;
  justify-content: left;
  box-sizing: border-box;
  gap: 20px;
  position: relative;
  z-index: 1;
}
#experience .list .item {
  display: grid;
  grid-template-rows: 1fr 50px 1fr;
  gap: 20px;
  width: 200px;
  flex-shrink: 0;
}
#experience .list .item i {
  background-color: #444b57;
  width: 50px;
  color: #16222d;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#experience .list .item .time {
  display: flex;
  align-items: end;
  font-size: large;
}
#experience .list .item .content .job {
  font-size: large;
}
#experience .list .item .content .company {
  color: #e4454a;
}
#experience .list .item .content .des {
  font-size: 0.8em;
  opacity: 0.7;
}
#experience .list .item:nth-child(odd) .content {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#experience .list .item:nth-child(odd) .time {
  grid-row-start: 3;
  grid-row-end: 4;
  align-items: start;
}
#experience .list::before {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #444b57;
  content: "";
  z-index: -1;
}
#experience .container {
  overflow: auto;
  padding: 50px;
}

#skill {
  background-color: #f2f0eb;
  color: #eee;
  background-image: linear-gradient(45deg, #3a2530, #171514, #412726);
  background-size: cover;
  overflow: auto;
}
#skill .list {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
  box-sizing: border-box;
  gap: 0px;
}

#skill .list .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
#skill .list .item:nth-child(odd) {
  background-color: #3f2525;
}
#skill .list .item i {
  width: 50px;
  height: 50px;
  background-color: #eee;
  color: #ca3ea7;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 10px 10px #0005;
}
#skill .list .item img{
  width: 50px;
  height: 50px;
  background-color: #eee;
  color: #ca3ea7;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 10px 10px #0005;
}
#skill .list .item .name {
  font-size: 1.5em;
  margin-top: 0.7em;
}
#skill .list .item .des {
  font-size: small;
  opacity: 0.8;
}

#project {
  background-color: #cfbaba;
  color: #444b57;
}
#project .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 50px;
}
#project .list .item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#project .list .item {
  border-radius: 30px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
#project .list .item .index {
  background-color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  position: absolute;
  transform: translateY(-100%);
  padding: 10px;
  font-style: italic;
  border-top-right-radius: 20px;
}
#project .list .item .name {
  font-weight: bold;
  font-size: large;
  padding: 10px;
}
#project .list .item .des {
  padding: 0 10px 10px 10px;
}
#project .list .item .author {
  padding: 10px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}
#project .list .item .job {
  font-weight: bold;
}
#project .container {
  overflow: auto;
}
::-webkit-scrollbar {
  display: none;
}

#pricing {
  background-color: #16222d;
  color: rgb(0, 0, 0);
  height: 100%;
}
#pricing .container {
  overflow: auto;
}
#pricing .container h1 {
  font-size: 60px;
  font-family: Gupter;
  color: white;
  text-align: center;
}
#pricing .container .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 50px;
  
}
#pricing .list .item {
    border-radius: 30px;
    overflow: hidden;
    background-color:#b1b8d3;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pricing p{
    text-align: center;
    font-size: 16px;
    color: white;
}
#pricing p  span{
    font-weight: bold;
    color: rgb(11, 194, 245);
}

#pricing .container .list .item span {
  display: flex;
  height: 40px;
  width: 160px;
  background: rgb(61, 61, 240);
  position: relative;
  rotate: 34.76deg;
  left: 35%;
  top: 1%;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  
}


#pricing .container .list .item h2{
    text-align: center;
}

#pricing .list .item ul 
{
  list-style-type: none;
}
#pricing .list .item ul li{
  font-size: 16px;
  
}
#pricing .list .item ul li::before{
content: "-";
padding: 2px;
}
#pricing .list .item ul .Bld{
  font-weight: bold;
}
#pricing .list .item button{
  background: rgb(61, 61, 240);
  border-color: white;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}




#contact {
  background: #242330;
}
#contact .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact .thank {
  font-size: 5em;
  font-weight: bold;
  display: block;
}
#contact .des {
  width: 500px;
  max-width: 80%;
  text-align: center;
}
#contact .list {
  text-align: center;
}
#contact .list .item {
  display: inline-block;
  margin: 10px 30px;
}


/* effect */
.tab {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 1;
}
#intro {
  z-index: 2;
}

.tab.active {
  --x: 50%;
  --y: 50%;
  clip-path: circle(200% at var(--x) var(--y));
  animation: showTab 1s ease-in-out 1;
}
@keyframes showTab {
  from {
    clip-path: circle(0% at var(--x) var(--y));
  }
}
